@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,500&display=swap");




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color :#a2a7eb;
  
  
}

.header {
  text-align: center;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
   
}
#main {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content:space-evenly;
}

.search {
  background-color: inherit;
  border: 8px solid #666;
  padding: 50rem 6rem;
  border-radius: 45px;
  font-size: 1rem;
  color: #666;
  font-family: inherit;
  padding: 0.2rem 3.5rem;
  line-height: 60px;
  
  
}
.search:focus {
  outline: 2;
  background-color: var(--primary-color);

}

.search::placeholder {
  color: #666;
  font-family: inherit;
  font-size: x-large;
  font-weight: 800;
}

.overview {
  text-decoration-color: none;
  font-size: 1em;
  font-weight: 500;
  text-align: start;
}

.card-image{
  border-radius: 25px;
  justify-content: space-between;
}
.card-image:hover {
  transition: .5s;
  transform: rotate(360deg);
  }

.movie {
  position: relative;
  width: 30rem;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: none;
  
  place-content: center;
  justify-content: space-evenly;
}

.card-body {
  position: relative;
  display: inline-block;
  justify-content: space-evenly;

}
.movie_desc{
  font-size: 20px;
}